/* Colors */
:root {
  --color-grey-dark-1: rgb(43, 42, 42);
  --color-grey-dark-2: rgb(65, 65, 65); }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-1);
  background-image: linear-gradient(#dee1fa, #c4cbf8);
  background-size: cover; }

.container {
  background-color: #f3f3f3;
  padding: 4rem 6rem;
  min-height: 50rem;
  display: grid;
  grid-template-rows: 80vh repeat(8, min-content);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  .container > * {
    padding: 40px;
    font-size: 3rem; }

.header {
  font-size: 1.4rem;
  grid-column: center-start / center-end;
  display: flex;
  justify-content: space-between; }

.overview {
  background-color: orangered;
  grid-column: center-start / center-end; }

.qualities {
  grid-column: center-start / center-end; }
  .qualities__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, min-content);
    grid-gap: 3rem; }
    .qualities__grid .quality {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, min-content); }
      .qualities__grid .quality__emote {
        grid-row: 1 / -1; }

.packages {
  background-color: blueviolet;
  grid-column: center-start / full-end; }

.connect {
  background-color: palevioletred;
  grid-column: center-start / center-end; }

.location {
  background-color: royalblue;
  grid-column: center-start / center-end; }

.reviews {
  background-color: goldenrod;
  grid-column: center-start / center-end; }

.faq {
  grid-column: center-start / center-end; }

.footer {
  background-color: black;
  grid-column: center-start / center-end; }
