/* Colors */

:root {
  --color-grey-dark: rgb(43, 42, 42);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1 rem = 10px;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark);
  background-image: linear-gradient(rgb(222, 225, 250), rgb(196, 203, 248));
  background-size: cover;
}
