.btn {
  background-color: var(--color-primary);
  color: rgb(247, 247, 247);
  font-size: 1.6rem;
  padding: 1.3rem 2rem;
  border: none;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  cursor: pointer;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;

  &:hover {
    background-color: var(--color-primary-dark);
  }

  &--dark {
    background-color: var(--color-grey-dark-1);

    &:hover {
      background-color: var(--color-grey-dark-2);
    }
  }
}
