.connect {
  grid-column: center-start / center-end;

  padding: 6rem;
  background: linear-gradient(
    to bottom right,
    var(--color-primary-light),
    var(--color-primary)
  );
  color: var(--color-grey-light);
  font-weight: 400;

  &__header {
    font-size: 4rem;
    font-weight: 700;
  }

  &__text {
    margin-top: 3rem;
    width: 50%;
  }

  &__stats--list {
    margin-top: 3rem;

    display: grid;
    grid-template-columns: max-content min-content max-content;
    column-gap: 2rem;
  }

  &__stat {
    text-align: center;

    &--num {
      font-size: 3rem;
    }
  }
}

.slash {
  font-size: 5rem;
  font-weight: 200;
}
