.header {
  font-size: 1.4rem;
  grid-column: center-start / center-end;
  margin-top: 3rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: end;
  align-items: start;

  &__btn {
    background-color: var(--color-grey-dark-1);
    font-size: 1.4rem;
    text-decoration: none;

    &:hover {
      background-color: var(--color-grey-dark-2);
    }
  }
}

// Components

.logo {
  font-weight: 700;
  font-size: 2.5rem;
  text-transform: uppercase;

  justify-self: start;
}

// // Navigation
// .main-nav {
//   display: flex;

//   li {
//     list-style: none;
//     margin-right: 1rem;
//   }

//   a {
//     &:link,
//     &:visited {
//       font-weight: 700;
//       color: var(--color-grey-dark-1);
//       text-decoration: none;
//       padding: 1rem 1.5rem;
//       border-bottom: 1px solid transparent;
//       transition: border 0.3s;
//       -webkit-transition: border 0.3s;
//       -moz-transition: border 0.3s;
//       -ms-transition: border 0.3s;
//       -o-transition: border 0.3s;
//     }

//     &:hover,
//     &:active {
//       border-bottom: 1px solid var(--color-grey-dark-1);
//     }
//   }
// }

// .btn {
//   &:link,
//   &:visited {
//     text-decoration: none;
//     color: rgb(235, 235, 235);
//     background-color: var(--color-grey-dark-1);
//     padding: 0.8rem 2rem;
//     border-radius: 5px;
//     -webkit-border-radius: 5px;
//     -moz-border-radius: 5px;
//     -ms-border-radius: 5px;
//     -o-border-radius: 5px;
//     transition: all 0.2s;
//     -webkit-transition: all 0.2s;
//     -moz-transition: all 0.2s;
//     -ms-transition: all 0.2s;
//     -o-transition: all 0.2s;
//   }

//   &:hover,
//   &:active {
//     background-color: var(--color-grey-dark-2);
//     color: white;
//   }
// }

// .btn-start {
//   align-self: flex-start;
// }
