.container {
  background-color: rgb(243, 243, 243);
  max-width: 124rem;
  margin: 8rem auto;
  padding: 4rem 6rem;
  min-height: 50rem;
  border: 1px solid transparent;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.header {
  font-size: 1.4rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
