.overview {
  grid-column: center-start / center-end;
  padding: 10rem 0;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  justify-items: start;
  align-items: center;

  &__img {
    width: 40rem;

    grid-row: span 3;
  }

  &__text {
    font-size: 1.6rem;
  }
}
