.packages {
  grid-column: center-start / full-end;

  padding: 3rem 0 8rem 0;

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    column-gap: 5rem;
  }

  button {
    display: block;
    margin: auto;
    margin-top: 7rem;
  }
}

.package {
  display: grid;

  &__img {
    justify-self: center;

    width: 60%;
  }

  &__text {
    width: 90%;
  }
}
