.qualities {
  grid-column: center-start / center-end;

  margin: 15rem 0;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, min-content);
  grid-row-gap: 4rem;
  grid-column-gap: 3rem;
  align-items: start;

  h4 {
    grid-column: 1 / -1;
  }
}

.quality {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-column-gap: 6rem;

  &__emote {
    grid-row: 1 / span 2;
    transform: translateY(1rem) translateX(2rem);
    -webkit-transform: translateY(1rem) translateX(2rem);
    -moz-transform: translateY(1rem) translateX(2rem);
    -ms-transform: translateY(1rem) translateX(2rem);
    -o-transform: translateY(1rem) translateX(2rem);
  }

  &__text {
    font-size: 1.7rem;
  }
}
