.qualities {
  grid-column: center-start / center-end;

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, min-content);
    grid-gap: 3rem;

    .quality {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, min-content);

      &__emote {
        grid-row: 1 / -1;
      }
    }
  }
}
