.qualities {
  grid-column: center-start / center-end;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, min-content);
  grid-row-gap: 4rem;
  grid-column-gap: 3rem;

  h4 {
    grid-column: 1 / -1;
  }
}

.quality {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, min-content);
  justify-items: end;
  align-items: center;
  grid-column-gap: 6rem;

  &__emote {
    grid-row: 1 / -1;
  }
}
