#reviews {
  grid-column: center-start / center-end;

  padding: 8rem;
  text-align: center;
}

.reviews {
  &__text {
    width: 70%;
    margin: auto;
    margin-top: 2rem;
  }

  &__customer {
    margin-top: 5rem;
    font-weight: 700;

    &--img {
      width: 8rem;
      border-radius: 50px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      -ms-border-radius: 50px;
      -o-border-radius: 50px;
    }
  }
}
